#------------------------------------------------------------------------------
#                  Harvard-NASA Emissions Component (HEMCO)                   !
#------------------------------------------------------------------------------
#BOP
#
# !MODULE: HEMCO_Config.rc
#
# !DESCRIPTION: Contains configuration information for HEMCO. Define the
#  emissions inventories and corresponding file paths here. Entire
#  configuration files can be inserted into this configuration file with
#  an '>>>include' statement, e.g. '>>>include HEMCO\_Config\_test.rc'
#  The settings of include-files will be ignored.
#\\
#\\
# !REMARKS:
#  The following tokens will be replaced:
#  (1) ROOT    : Filepath to HEMCO root directory
#  (2) CFDIR   : Filepath to directory of this configuration file.
#  (3) MET     : Met field type (from G-C compilation command)
#  (4) GRID    : Horizontal grid type (from G-C compilation command)
#  (5) SIM     : Simulation type (from G-C compilation command)
#  (6) NEST    : Nested-grid type (CH, EU, NA, SE)
#  (7) LNOX    : String for OTD/LIS lightning NOx files:
#                (a) For GEOS-5 this is either "geos5.1.0" or "geos5.2.0".
#                (b) For other met fields, this is the same as MET.
#  (8) LEVRED  : String w/ the # of levels in the reduced GEOS-Chem grid
#                as used in some filenames (e.g. "23L", "30L", "47L")
#  (9) LEVFULL : String w/ the # of levels in the full GEOS-Chem grid
#                as used in some filenames (e.g. "55L", "72L")
#
# !REVISION HISTORY:
#  09 Mar 2021 - P. Campbell - Initial UFS-CMAQ HEMCO Configuration File for
#                              CEDS2019-NEI2016v1-OMI-HTAP2019-EDGAR-HTAP2010
#  15 Jun 2022 - P. Campbell - Added MEGANv2.1 sa extension calcultaions
#  04 Oct 2022 - B. Baker    - Remove point sources

#------------------------------------------------------------------------------
#BOC
###############################################################################
### BEGIN SECTION SETTINGS
###############################################################################

ROOT                        : {{ NXS_INPUT_DIR }}
TMPDIR                      : /gpfs/f6/bil-fire3/world-shared/Emissions/nexus
GridFile                    : {{ NXS_GRID_NAME | default("HEMCO_sa_Grid.rc") }}
SpecFile                    : {{ NXS_SPEC_NAME | default("HEMCO_sa_Spec.rc") }}
TimeFile                    : {{ NXS_TIME_NAME | default("HEMCO_sa_Time.rc") }}
DiagnFile                   : {{ NXS_DIAG_NAME | default("HEMCO_sa_Diag.rc") }}
DiagnPrefix                 : {{ NXS_DIAG_PREFIX | default("NXS_DIAG") }}
DiagnFreq                   : {{ NXS_DIAG_FREQ | default("Hourly") }}
DiagnFileSplit              : 24hr
DiagnRefTime                : hours since 2020-01-01 00:00:00
Logfile                     : {{ NXS_LOGFILE | default("NEXUS.log") }}
Unit tolerance              : 1
Negative values             : 1
Verbose                     : 10
Warnings                    : 1
Mask fractions              : true
PBL dry deposition          : False
SINTOK                      : 0.5
Cap time shift              : true
#

### END SECTION SETTINGS ###

###############################################################################
### BEGIN SECTION EXTENSION SWITCHES
###############################################################################
###
### This section lists all emission extensions available to HEMCO and whether
### they shall be used or not. Extension 'base' must have extension number
### zero, all other extension numbers can be freely chosen. Data fields in
### section 'base emissions' will only be read if the corresponding extension
### (identified by ExtNr) is enabled. Similarly, fields grouped into data
### collections ('(((CollectionName', ')))CollectionName') are only considered
### if the corresponding data collection is enabled in this section. Data
### listed within a disabled extension are always ignored, even if they are
### grouped in an enabled collection (e.g. GFED-4 data will never be considered
### if the GFED extension is disabled, even if the GFED4 option is set to true).
###
### It is possible to define collections that are only evaluated if a
### collection name is *not* enabled. This is achieved by leading the
### collection name with '.not.', e.g. '(((.not.FINN_daily' ...
### '))).not.FINN_daily' for FINN monthly data (only used if daily data is
### not being used).
###
### The ExtNr provided in this section must match with the ExtNr assigned to
### the data listed in the base emissions sections. Otherwise, the listed
### files won't be read!
###
### NOTES:
### --> You can only select one biomass burning option (GFED, QFED, FINN).
###
### --> BOND_BIOMASS must be set to false if GFED, QFED, or FINN is enabled.
###
### --> The biomass burning POA scale factor is the same as for the biofuel
###     and anthro sources.
###
### --> The NAP scale factor is determined as in the original simulation:
###     Obtain NAP emissions using scale factor from Hays 2002 ES&T
###     (0.0253 g NAP/kg DM) and Andreae and Merlet 2001 GBC (92 g CO/kg DM)
###############################################################################
# ExtNr ExtName           on/off  Species
0       Base              : on    *
    --> HEMCO_RESTART     :       true
    --> AEIC              :       false
    --> BIOFUEL           :       false
    --> BOND              :       false
    --> BRAVO             :       false
    --> CAC               :       false
    --> C2H6              :       false
    --> EDGAR             :       false
{% if NXS_DO_HTAPv2 or NXS_DO_HTAPv3 %}
    --> HTAP              :  on   true
{% else %}
    --> HTAP              :       false
{% endif %}
{% if NXS_DO_CEDS2019 or NXS_DO_CEDS2024 %}
    --> CEDS              :  on   true
{% else %}
    --> CEDS              :       false
{% endif %}
{% if NXS_DO_CAMS %}
    --> CAMS              :  on   true
{% else %}
    --> CAMS              :       false
{% endif %}
    --> OMI_HTAP_SO2      :  off  false
    --> Yuan_XLAI         :  off  false
    --> MODIS_XLAI        :       false
    --> ACCMIP            :  off  false
# -----------------------------------------------------------------------------
# -----------------------------------------------------------------------------
100     Custom            : off   -
101     SeaFlux           : off   DMS/ACET
102     ParaNOx           : off   NO/NO2/O3/HNO3
    --> LUT data format   :       nc
    --> LUT source dir    :       $TMPDIR/PARANOX/v2015-02
103     LightNOx          : off   NO
    --> OTD-LIS factors   :       true
    --> CDF table         :       $TMPDIR/LIGHTNOX/v2014-07/light_dist.ott2010.dat
104     SoilNOx           : off   NO
    --> Use fertilizer NOx:       true
105     DustDead          : off   DST1/DST2/DST3/DST4
106     DustGinoux        : off   DST1/DST2/DST3/DST4
107     SeaSalt           : off   SALA/SALC/Br2
    --> SALA lower radius :       0.01
    --> SALA upper radius :       0.5
    --> SALC lower radius :       0.5
    --> SALC upper radius :       8.0
    --> Emit Br2          :       true
    --> Br2 scaling       :       1.0
108     MEGAN             : off   ISOP/ACET/PRPE/C2H4/ALD2/EOH/MOH/MTPA/MTPO/LIMO/SESQ
    --> Isoprene scaling  :       1.0
    --> CO2 inhibition    :       true
    --> CO2 conc (ppmv)   :       411.0
    --> Isoprene to SOAP  :       0.015
    --> Isoprene to SOAS  :       0.015
110     MEGAN_SOA         : off   MTPA/MTPO/LIMO/SESQ
111     GFED              : off   NO/CO/ALK4/ACET/MEK/ALD2/PRPE/C3H8/CH2O/C2H6/SO2/NH3/BCPO/BCPI/OCPO/OCPI/POA1/NAP
    --> GFED3             :       false
    --> GFED4             :       true
    --> GFED_daily        :       false
    --> GFED_3hourly      :       false
    --> CO scale factor   :       1.05
    --> POA scale factor  :       1.27
    --> NAP scale factor  :       2.75e-4
    --> hydrophilic BC    :       0.2
    --> hydrophilic OC    :       0.5
114     FINN              : off   NO/CO/ALK4/ACET/MEK/ALD2/PRPE/C3H8/CH2O/C2H6/SO2/NH3/BCPI/BCPO/OCPI/OCPO/GLYC/HAC
    --> FINN_daily        :       false
    --> CO scale factor   :       1.0
    --> hydrophilic BC    :       0.2
    --> hydrophilic OC    :       0.5

### END SECTION EXTENSION SWITCHES ###

###############################################################################
### BEGIN SECTION BASE EMISSIONS
###############################################################################


# ExtNr   Name sourceFile      sourceVar sourceTime C/R/E SrcDim SrcUnit Species ScalIDs Cat Hier
0 UNIFORM 1.0 - * C xy kg/m2/s NO - 1 5

#==============================================================================
# --- CEDS ---
#==============================================================================
{% if NXS_DO_CEDS2019 %}
(((CEDS
0 BC_agr $TMPDIR/CEDS/v2021-06/$YYYY/BC-em-anthro_CMIP_CEDS_$YYYY.nc BC_agr 1994-2020/1-12/1/0 C xy kg/m2/s BC -     1 1
0 BC_ene $TMPDIR/CEDS/v2021-06/$YYYY/BC-em-anthro_CMIP_CEDS_$YYYY.nc BC_ene 1994-2020/1-12/1/0 C xy kg/m2/s BC_elev -     1 1
0 BC_ind $TMPDIR/CEDS/v2021-06/$YYYY/BC-em-anthro_CMIP_CEDS_$YYYY.nc BC_ind 1994-2020/1-12/1/0 C xy kg/m2/s BC -     1 1
0 BC_rco $TMPDIR/CEDS/v2021-06/$YYYY/BC-em-anthro_CMIP_CEDS_$YYYY.nc BC_rco 1994-2020/1-12/1/0 C xy kg/m2/s BC -     1 1
0 BC_tra $TMPDIR/CEDS/v2021-06/$YYYY/BC-em-anthro_CMIP_CEDS_$YYYY.nc BC_tra 1994-2020/1-12/1/0 C xy kg/m2/s BC -     1 1
0 BC_shp $TMPDIR/CEDS/v2021-06/$YYYY/BC-em-anthro_CMIP_CEDS_$YYYY.nc BC_shp 1994-2020/1-12/1/0 C xy kg/m2/s BC_ship -     1 1
0 BC_slv $TMPDIR/CEDS/v2021-06/$YYYY/BC-em-anthro_CMIP_CEDS_$YYYY.nc BC_slv 1994-2020/1-12/1/0 C xy kg/m2/s BC -     1 1
0 BC_wst $TMPDIR/CEDS/v2021-06/$YYYY/BC-em-anthro_CMIP_CEDS_$YYYY.nc BC_wst 1994-2020/1-12/1/0 C xy kg/m2/s BC -     1 1

0 OC_agr $TMPDIR/CEDS/v2021-06/$YYYY/OC-em-anthro_CMIP_CEDS_$YYYY.nc OC_agr 1994-2020/1-12/1/0 C xy kg/m2/s OC -     1 1
0 OC_ene $TMPDIR/CEDS/v2021-06/$YYYY/OC-em-anthro_CMIP_CEDS_$YYYY.nc OC_ene 1994-2020/1-12/1/0 C xy kg/m2/s OC_elev -     1 1
0 OC_ind $TMPDIR/CEDS/v2021-06/$YYYY/OC-em-anthro_CMIP_CEDS_$YYYY.nc OC_ind 1994-2020/1-12/1/0 C xy kg/m2/s OC -     1 1
0 OC_rco $TMPDIR/CEDS/v2021-06/$YYYY/OC-em-anthro_CMIP_CEDS_$YYYY.nc OC_rco 1994-2020/1-12/1/0 C xy kg/m2/s OC -     1 1
0 OC_tra $TMPDIR/CEDS/v2021-06/$YYYY/OC-em-anthro_CMIP_CEDS_$YYYY.nc OC_tra 1994-2020/1-12/1/0 C xy kg/m2/s OC -     1 1
0 OC_shp $TMPDIR/CEDS/v2021-06/$YYYY/OC-em-anthro_CMIP_CEDS_$YYYY.nc OC_shp 1994-2020/1-12/1/0 C xy kg/m2/s OC_ship -     1 1
0 OC_slv $TMPDIR/CEDS/v2021-06/$YYYY/OC-em-anthro_CMIP_CEDS_$YYYY.nc OC_slv 1994-2020/1-12/1/0 C xy kg/m2/s OC -     1 1
0 OC_wst $TMPDIR/CEDS/v2021-06/$YYYY/OC-em-anthro_CMIP_CEDS_$YYYY.nc OC_wst 1994-2020/1-12/1/0 C xy kg/m2/s OC -     1 1

0 SO2_agr $TMPDIR/CEDS/v2021-06/$YYYY/SO2-em-anthro_CMIP_CEDS_$YYYY.nc SO2_agr 1994-2020/1-12/1/0 C xy kg/m2/s SO2 -     1 1
0 SO2_ene $TMPDIR/CEDS/v2021-06/$YYYY/SO2-em-anthro_CMIP_CEDS_$YYYY.nc SO2_ene 1994-2020/1-12/1/0 C xy kg/m2/s SO2_elev -     1 1
0 SO2_ind $TMPDIR/CEDS/v2021-06/$YYYY/SO2-em-anthro_CMIP_CEDS_$YYYY.nc SO2_ind 1994-2020/1-12/1/0 C xy kg/m2/s SO2 -     1 1
0 SO2_rco $TMPDIR/CEDS/v2021-06/$YYYY/SO2-em-anthro_CMIP_CEDS_$YYYY.nc SO2_rco 1994-2020/1-12/1/0 C xy kg/m2/s SO2 -     1 1
0 SO2_tra $TMPDIR/CEDS/v2021-06/$YYYY/SO2-em-anthro_CMIP_CEDS_$YYYY.nc SO2_tra 1994-2020/1-12/1/0 C xy kg/m2/s SO2 -     1 1
0 SO2_shp $TMPDIR/CEDS/v2021-06/$YYYY/SO2-em-anthro_CMIP_CEDS_$YYYY.nc SO2_shp 1994-2020/1-12/1/0 C xy kg/m2/s SO2_ship -     1 1
0 SO4_shp $TMPDIR/CEDS/v2021-06/$YYYY/SO2-em-anthro_CMIP_CEDS_$YYYY.nc SO2_shp 1994-2020/1-12/1/0 C xy kg/m2/s SO4_ship 199     1 1
0 SO2_slv $TMPDIR/CEDS/v2021-06/$YYYY/SO2-em-anthro_CMIP_CEDS_$YYYY.nc SO2_slv 1994-2020/1-12/1/0 C xy kg/m2/s SO2 -     1 1
0 SO2_wst $TMPDIR/CEDS/v2021-06/$YYYY/SO2-em-anthro_CMIP_CEDS_$YYYY.nc SO2_wst 1994-2020/1-12/1/0 C xy kg/m2/s SO2 -     1 1

# 0 NH3_agr $TMPDIR/CEDS/v2021-06/$YYYY/NH3-em-anthro_CMIP_CEDS_$YYYY.nc NH3_agr 1994- 2020/1-12/1/0 C xy kg/m2/s NH3_ag -     1 1
# 0 NH3_ene $TMPDIR/CEDS/v2021-06/$YYYY/NH3-em-anthro_CMIP_CEDS_$YYYY.nc NH3_ene 1994-2020/1-12/1/0 C xy kg/m2/s NH3_en -     1 1
# 0 NH3_ind $TMPDIR/CEDS/v2021-06/$YYYY/NH3-em-anthro_CMIP_CEDS_$YYYY.nc NH3_ind 1994-2020/1-12/1/0 C xy kg/m2/s NH3_in -     1 1
# 0 NH3_rco $TMPDIR/CEDS/v2021-06/$YYYY/NH3-em-anthro_CMIP_CEDS_$YYYY.nc NH3_rco 1994-2020/1-12/1/0 C xy kg/m2/s NH3_re -     1 1
# 0 NH3_tra $TMPDIR/CEDS/v2021-06/$YYYY/NH3-em-anthro_CMIP_CEDS_$YYYY.nc NH3_tra 1994-2020/1-12/1/0 C xy kg/m2/s NH3_tr -     1 1
# 0 NH3_shp $TMPDIR/CEDS/v2021-06/$YYYY/NH3-em-anthro_CMIP_CEDS_$YYYY.nc NH3_shp 1994-2020/1-12/1/0 C xy kg/m2/s NH3_tr -     1 1
# 0 NH3_slv $TMPDIR/CEDS/v2021-06/$YYYY/NH3-em-anthro_CMIP_CEDS_$YYYY.nc NH3_slv 1994-2020/1-12/1/0 C xy kg/m2/s NH3_oc -     1 1
# 0 NH3_wst $TMPDIR/CEDS/v2021-06/$YYYY/NH3-em-anthro_CMIP_CEDS_$YYYY.nc NH3_wst 1994-2020/1-12/1/0 C xy kg/m2/s NH3_oc -     1 1
)))CEDS
{% elif NXS_DO_CEDS2024 %}
(((CEDS
0 BC_agr $TMPDIR/CEDS/v2025-01/BC/BC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc BC_agr 2000-2022/1-12/1/0 C xy kg/m2/s BC -     1 1
0 BC_ene $TMPDIR/CEDS/v2025-01/BC/BC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc BC_ene 2000-2022/1-12/1/0 C xy kg/m2/s BC_elev -     1 1
0 BC_ind $TMPDIR/CEDS/v2025-01/BC/BC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc BC_ind 2000-2022/1-12/1/0 C xy kg/m2/s BC -     1 1
0 BC_rco $TMPDIR/CEDS/v2025-01/BC/BC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc BC_rco 2000-2022/1-12/1/0 C xy kg/m2/s BC -     1 1
0 BC_tra $TMPDIR/CEDS/v2025-01/BC/BC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc BC_tra 2000-2022/1-12/1/0 C xy kg/m2/s BC -     1 1
0 BC_shp $TMPDIR/CEDS/v2025-01/BC/BC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc BC_shp 2000-2022/1-12/1/0 C xy kg/m2/s BC_ship -     1 1
0 BC_sol $TMPDIR/CEDS/v2025-01/BC/BC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc BC_sol 2000-2022/1-12/1/0 C xy kg/m2/s BC -     1 1
0 BC_was $TMPDIR/CEDS/v2025-01/BC/BC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc BC_was 2000-2022/1-12/1/0 C xy kg/m2/s BC -     1 1

0 OC_agr $TMPDIR/CEDS/v2025-01/OC/OC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc OC_agr 2000-2022/1-12/1/0 C xy kg/m2/s OC -     1 1
0 OC_ene $TMPDIR/CEDS/v2025-01/OC/OC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc OC_ene 2000-2022/1-12/1/0 C xy kg/m2/s OC_elev -     1 1
0 OC_ind $TMPDIR/CEDS/v2025-01/OC/OC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc OC_ind 2000-2022/1-12/1/0 C xy kg/m2/s OC -     1 1
0 OC_rco $TMPDIR/CEDS/v2025-01/OC/OC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc OC_rco 2000-2022/1-12/1/0 C xy kg/m2/s OC -     1 1
0 OC_tra $TMPDIR/CEDS/v2025-01/OC/OC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc OC_tra 2000-2022/1-12/1/0 C xy kg/m2/s OC -     1 1
0 OC_shp $TMPDIR/CEDS/v2025-01/OC/OC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc OC_shp 2000-2022/1-12/1/0 C xy kg/m2/s OC_ship -     1 1
0 OC_sol $TMPDIR/CEDS/v2025-01/OC/OC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc OC_sol 2000-2022/1-12/1/0 C xy kg/m2/s OC -     1 1
0 OC_was $TMPDIR/CEDS/v2025-01/OC/OC-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc OC_was 2000-2022/1-12/1/0 C xy kg/m2/s OC -     1 1

0 SO2_agr $TMPDIR/CEDS/v2025-01/SO2/SO2-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc SO2_agr 2000-2022/1-12/1/0 C xy kg/m2/s SO2 -     1 1
0 SO2_ene $TMPDIR/CEDS/v2025-01/SO2/SO2-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc SO2_ene 2000-2022/1-12/1/0 C xy kg/m2/s SO2_elev -     1 1
0 SO2_ind $TMPDIR/CEDS/v2025-01/SO2/SO2-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc SO2_ind 2000-2022/1-12/1/0 C xy kg/m2/s SO2 -     1 1
0 SO2_rco $TMPDIR/CEDS/v2025-01/SO2/SO2-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc SO2_rco 2000-2022/1-12/1/0 C xy kg/m2/s SO2 -     1 1
0 SO2_tra $TMPDIR/CEDS/v2025-01/SO2/SO2-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc SO2_tra 2000-2022/1-12/1/0 C xy kg/m2/s SO2 -     1 1
0 SO2_shp $TMPDIR/CEDS/v2025-01/SO2/SO2-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc SO2_shp 2000-2022/1-12/1/0 C xy kg/m2/s SO2_ship -     1 1
0 SO4_shp $TMPDIR/CEDS/v2025-01/SO2/SO2-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc SO2_shp 2000-2022/1-12/1/0 C xy kg/m2/s SO4_ship 199     1 1
0 SO2_sol $TMPDIR/CEDS/v2025-01/SO2/SO2-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc SO2_sol 2000-2022/1-12/1/0 C xy kg/m2/s SO2 -     1 1
0 SO2_was $TMPDIR/CEDS/v2025-01/SO2/SO2-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc SO2_was 2000-2022/1-12/1/0 C xy kg/m2/s SO2 -     1 1

# 0 NH3_agr $TMPDIR/CEDS/v2025-01/NH3/NH3-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc NH3_agr 1994- 2020/1-12/1/0 C xy kg/m2/s NH3_ag -     1 1
# 0 NH3_ene $TMPDIR/CEDS/v2025-01/NH3/NH3-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc NH3_ene 2000-2022/1-12/1/0 C xy kg/m2/s NH3_en -     1 1
# 0 NH3_ind $TMPDIR/CEDS/v2025-01/NH3/NH3-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc NH3_ind 2000-2022/1-12/1/0 C xy kg/m2/s NH3_in -     1 1
# 0 NH3_rco $TMPDIR/CEDS/v2025-01/NH3/NH3-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc NH3_rco 2000-2022/1-12/1/0 C xy kg/m2/s NH3_re -     1 1
# 0 NH3_tra $TMPDIR/CEDS/v2025-01/NH3/NH3-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc NH3_tra 2000-2022/1-12/1/0 C xy kg/m2/s NH3_tr -     1 1
# 0 NH3_shp $TMPDIR/CEDS/v2025-01/NH3/NH3-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc NH3_shp 2000-2022/1-12/1/0 C xy kg/m2/s NH3_tr -     1 1
# 0 NH3_sol $TMPDIR/CEDS/v2025-01/NH3/NH3-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc NH3_sol 2000-2022/1-12/1/0 C xy kg/m2/s NH3_oc -     1 1
# 0 NH3_was $TMPDIR/CEDS/v2025-01/NH3/NH3-em-anthro_input4MIPs_emissions_CMIP_CEDS-CMIP-2024-11-25_gn_$YYYY01-$YYYY12_processed.nc NH3_was 2000-2022/1-12/1/0 C xy kg/m2/s NH3_oc -     1 1
)))CEDS
{% elif NXS_DO_CAMSGLOBAL %}
# empty for NOW
{% endif %}

{% if NXS_DO_HTAPv2 %}
(((HTAP
0 SO2_lto $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so2.aviation_lto.x3600_y1800_t12.2010.nc4 so2_aviation 1994-2020/1-12/1/0 C xy kg/m2/s SO2_lto - 1 1
0 SO2_cds $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so2.aviation_lto.x3600_y1800_t12.2010.nc4 so2_aviation 1994-2020/1-12/1/0 C xy kg/m2/s SO2_cds - 1 1
0 SO2_crs $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so2.aviation_lto.x3600_y1800_t12.2010.nc4 so2_aviation 1994-2020/1-12/1/0 C xy kg/m2/s SO2_crs - 1 1
0 OC_lto $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_oc.aviation_lto.x3600_y1800_t12.2010.nc4 oc_aviation 1994-2020/1-12/1/0 C xy kg/m2/s OC_lto - 1 1
0 OC_cds $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_oc.aviation_lto.x3600_y1800_t12.2010.nc4 oc_aviation 1994-2020/1-12/1/0 C xy kg/m2/s OC_cds - 1 1
0 OC_crs $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_oc.aviation_lto.x3600_y1800_t12.2010.nc4 oc_aviation 1994-2020/1-12/1/0 C xy kg/m2/s OC_crs - 1 1
0 BC_lto $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_bc.aviation_lto.x3600_y1800_t12.2010.nc4 bc_aviation 1994-2020/1-12/1/0 C xy kg/m2/s BC_lto - 1 1
0 BC_cds $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_bc.aviation_lto.x3600_y1800_t12.2010.nc4 bc_aviation 1994-2020/1-12/1/0 C xy kg/m2/s BC_cds - 1 1
0 BC_crs $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_bc.aviation_lto.x3600_y1800_t12.2010.nc4 bc_aviation 1994-2020/1-12/1/0 C xy kg/m2/s BC_crs - 1 1
)))HTAP
{% elif NXS_DO_HTAPv3 %}
(((HTAP
0 SO2_lto $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so2.aviation_lto.x3600_y1800_t12.2010.nc4 so2_aviation 1994-2020/1-12/1/0 C xy kg/m2/s SO2_lto - 1 1
0 SO2_cds $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so2.aviation_lto.x3600_y1800_t12.2010.nc4 so2_aviation 1994-2020/1-12/1/0 C xy kg/m2/s SO2_cds - 1 1
0 SO2_crs $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so2.aviation_lto.x3600_y1800_t12.2010.nc4 so2_aviation 1994-2020/1-12/1/0 C xy kg/m2/s SO2_crs - 1 1
0 OC_lto $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_oc.aviation_lto.x3600_y1800_t12.2010.nc4 oc_aviation 1994-2020/1-12/1/0 C xy kg/m2/s OC_lto - 1 1
0 OC_cds $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_oc.aviation_lto.x3600_y1800_t12.2010.nc4 oc_aviation 1994-2020/1-12/1/0 C xy kg/m2/s OC_cds - 1 1
0 OC_crs $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_oc.aviation_lto.x3600_y1800_t12.2010.nc4 oc_aviation 1994-2020/1-12/1/0 C xy kg/m2/s OC_crs - 1 1
0 BC_lto $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_bc.aviation_lto.x3600_y1800_t12.2010.nc4 bc_aviation 1994-2020/1-12/1/0 C xy kg/m2/s BC_lto - 1 1
0 BC_cds $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_bc.aviation_lto.x3600_y1800_t12.2010.nc4 bc_aviation 1994-2020/1-12/1/0 C xy kg/m2/s BC_cds - 1 1
0 BC_crs $TMPDIR/../NASA/ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_bc.aviation_lto.x3600_y1800_t12.2010.nc4 bc_aviation 1994-2020/1-12/1/0 C xy kg/m2/s BC_crs - 1 1
)))HTAP
{% elif NXS_DO_CAMS %}
# EMPTY FOR NOW
{% endif %}

###############################################################################
### NON-EMISSIONS DATA (subsection of BASE EMISSIONS SECTION)
###
### Non-emissions data. The following fields are read through HEMCO but do
### not contain emissions data. The extension number is set to wildcard
### character denoting that these fields will not be considered for emission
### calculation. A given entry is only read if the assigned species name is
### an HEMCO species.
###############################################################################

#==============================================================================
# --- Time zones (offset to UTC) ---
#==============================================================================
* TIMEZONES /gpfs/f6/bil-fire3/world-shared/Emissions/nexus/TIMEZONES/v2015-02/timezones_voronoi_1x1.nc UTC_OFFSET 2000/1/1/0 C xy count * - 1 1

### END SECTION BASE EMISSIONS ###

###############################################################################
### BEGIN SECTION SCALE FACTORS
###############################################################################

# ScalID Name sourceFile sourceVar sourceTime C/R/E SrcDim SrcUnit Oper

# Units carbon to species conversions for MEGANv2.1
# Factor = # carbon atoms * MW carbon) / MW species
61 CtoISOP_bio MATH:68.13/(5.0*12.0)   - - - xy unitless 1
62 CtoMTPA_bio MATH:136.26/(10.0*12.0) - - - xy unitless 1
64 CtoMBOX_bio MATH:86.13/(5.0*12.0)   - - - xy unitless 1

#==============================================================================
# --- annual scale factors ---
#==============================================================================
1  TOTFUEL_THISYR    $TMPDIR/AnnualScalar/v2014-07/AnnualScalar.geos.1x1.nc NOxscalar 1985-2010/1/1/0 C xy 1  1
27 TOTFUEL_2008_2010 $TMPDIR/AnnualScalar/v2014-07/AnnualScalar.geos.1x1.nc NOxscalar 2008-2010/1/1/0 C xy 1 -1

63 SO2toSO4       0.031 - - - xy unitless 1
64 SOX2SO4_EU     0.05  - - - xy unitless 1
65 SO2toSO4_CAC   0.014 - - - xy unitless 1
199 SO2toSO4_HTAP 0.077 - - - xy unitless 1

#==============================================================================
# --- diurnal scale factors ---
#==============================================================================
25 EDGAR_TODNOX $TMPDIR/EDGARv42/v2015-02/NO/EDGAR_hourly_NOxScal.nc NOXscale 2000/1/1/HH C xy unitless 1

#==============================================================================
# --- seasonal scale factors ---
#==============================================================================

#==============================================================================
# Units carbon to species conversions
# Factor = # (carbon atoms * MW carbon) / MW species
#==============================================================================


### END SECTION SCALE FACTORS ###

###############################################################################
### BEGIN SECTION MASKS
###############################################################################

### END SECTION MASKS ###

### END OF HEMCO INPUT FILE ###