# This file defines the diagnostics to be written
# out by the HEMCO standalone model
#
# Name      Spec ExtNr Cat Hier Dim Unit
SO2          SO2           0    -1  -1   2   kg/m2/s
SO2_elev     SO2_elev      0    -1  -1   2   kg/m2/s
SO2_ship     SO2_ship      0    -1  -1   2   kg/m2/s
SO4_ship     SO4_ship      0    -1  -1   2   kg/m2/s
OC           OC            0    -1  -1   2   kg/m2/s
OC_elev      OC_elev       0    -1  -1   2   kg/m2/s
BC           BC            0    -1  -1   2   kg/m2/s
BC_elev      BC_elev       0    -1  -1   2   kg/m2/s
BC_ship      BC_ship       0    -1  -1   2   kg/m2/s
OC_ship      OC_ship       0    -1  -1   2   kg/m2/s
BC_lto       BC_lto        0    -1  -1   2   kg/m2/s
BC_cds       BC_cds        0    -1  -1   2   kg/m2/s
BC_crs       BC_crs        0    -1  -1   2   kg/m2/s
SO2_lto      SO2_lto       0    -1  -1   2   kg/m2/s
SO2_cds      SO2_cds       0    -1  -1   2   kg/m2/s
SO2_crs      SO2_crs       0    -1  -1   2   kg/m2/s
OC_lto       OC_lto        0    -1  -1   2   kg/m2/s
OC_cds       OC_cds        0    -1  -1   2   kg/m2/s
OC_crs       OC_crs        0    -1  -1   2   kg/m2/s