# NEXUS Inline CDEPS Stream Configuration (ESMF Config format)
#
# This file defines data streams for inline CDEPS

# Stream definition - emissions data
streams_count: 1

streams::
 stream_emission::
   data_filenames: /path/to/emission_data_%Y%m%d.nc
   year_first: 2019
   year_last: 2019
   year_align: 2019
   offset: 0
   dtlimit: 1.5
   taxmode: cycle
   mapalgo: bilinear
   tInterpAlgo: linear
   lev_dimname: lev
   src_mask_val: 0
   dst_mask_val: 0
   meshfile: /path/to/mesh.nc
   variables::
     NO_emissions
     CO_emissions  
     SO2_emissions
   ::
 ::
::