# This file defines the diagnostics to be written
# out by the HEMCO standalone model
#
# Name      Spec ExtNr Cat Hier Dim Unit   
CO           CO             -1    -1  -1   2   kg/m2/s
SO2          SO2            -1    -1  -1   2   kg/m2/s
NO2          NO2            -1    -1  -1   2   kg/m2/s
NO           NOT            -1    -1  -1   2   kg/m2/s
HCL          HCL            -1    -1  -1   2   kg/m2/s
CL2          CL2            -1    -1  -1   2   kg/m2/s
HONO         HONO           -1    -1  -1   2   kg/m2/s
SULF         SULF           -1    -1  -1   2   kg/m2/s
NH3          NH3            -1    -1  -1   2   kg/m2/s
NH3_FERT     NH3_FERT       -1    -1  -1   2   kg/m2/s
CH4          CH4            -1    -1  -1   2   kg/m2/s
ACROLEIN     ACROLEIN       -1    -1  -1   2   kgC/m2/s
BUTADIENE13  BUTADIENE13    -1    -1  -1   2   kgC/m2/s
ETHY         ETHY           -1    -1  -1   2   kgC/m2/s
TERP         TERP           -1    -1  -1   2   kgC/m2/s
FORM         FORM           -1    -1  -1   2   kgC/m2/s
PAR          PAR            -1    -1  -1   2   kgC/m2/s
IOLE         IOLE           -1    -1  -1   2   kgC/m2/s
OLE          OLE            -1    -1  -1   2   kgC/m2/s
ETH          ETH            -1    -1  -1   2   kgC/m2/s
ETHA         ETHA           -1    -1  -1   2   kgC/m2/s
ETOH         ETOH           -1    -1  -1   2   kgC/m2/s
MEOH         MEOH           -1    -1  -1   2   kgC/m2/s
BENZ         BENZ           -1    -1  -1   2   kgC/m2/s
TOL          TOL            -1    -1  -1   2   kgC/m2/s
XYLMN        XYLMN          -1    -1  -1   2   kgC/m2/s
NAPH         NAPH           -1    -1  -1   2   kgC/m2/s
ALD2         ALD2           -1    -1  -1   2   kgC/m2/s
ALDX         ALDX           -1    -1  -1   2   kgC/m2/s
ISOP         ISOP           -1    -1  -1   2   kgC/m2/s
PRPA         PRPA           -1    -1  -1   2   kgC/m2/s
ACET         ACET           -1    -1  -1   2   kgC/m2/s
KET          KET            -1    -1  -1   2   kgC/m2/s
ALD2_PRIMARY ALD2_PRIMARY   -1    -1  -1   2   kgC/m2/s
FORM_PRIMARY FORM_PRIMARY   -1    -1  -1   2   kgC/m2/s
SOAALK       SOAALK         -1    -1  -1   2   kgC/m2/s
POC          POC            -1    -1  -1   2   kg/m2/s
PEC          PEC            -1    -1  -1   2   kg/m2/s
PAL          PAL            -1    -1  -1   2   kg/m2/s
PCA          PCA            -1    -1  -1   2   kg/m2/s
PCL          PCL            -1    -1  -1   2   kg/m2/s
PFE          PFE            -1    -1  -1   2   kg/m2/s
PH2O         PH2O           -1    -1  -1   2   kg/m2/s
PK           PK             -1    -1  -1   2   kg/m2/s
PMG          PMG            -1    -1  -1   2   kg/m2/s
PMN          PMN            -1    -1  -1   2   kg/m2/s
PMOTHR       PMOTHR         -1    -1  -1   2   kg/m2/s
PNA          PNA            -1    -1  -1   2   kg/m2/s
PNCOM        PNCOM          -1    -1  -1   2   kg/m2/s
PNH4         PNH4           -1    -1  -1   2   kg/m2/s
PNO3         PNO3           -1    -1  -1   2   kg/m2/s
PTI          PTI            -1    -1  -1   2   kg/m2/s
PSI          PSI            -1    -1  -1   2   kg/m2/s
PMC          PMC            -1    -1  -1   2   kg/m2/s
PSO4         PSO4           -1    -1  -1   2   kg/m2/s
CH4_INV      CH4_INV        -1    -1  -1   2   kg/m2/s
CO2_INV      CO2_INV        -1    -1  -1   2   kg/m2/s