# This file defines the diagnostics to be written
# out by the HEMCO standalone model
#
# Name      Spec ExtNr Cat Hier Dim Unit
CO_ant           CO             0    -1  -1   2   kg/m2/s
SO2_ant          SO2            0    -1  -1   2   kg/m2/s
NO2_ant          NO2            0    -1  -1   2   kg/m2/s
NO_ant           NOT            0     1  -1   2   kg/m2/s
HCL_ant          HCL            0    -1  -1   2   kg/m2/s
CL2_ant          CL2            0    -1  -1   2   kg/m2/s
HONO_ant         HONO           0    -1  -1   2   kg/m2/s
SULF_ant         SULF           0    -1  -1   2   kg/m2/s
NH3_ant          NH3            0    -1  -1   2   kg/m2/s
NH3_FERT_ant     NH3_FERT       0    -1  -1   2   kg/m2/s
CH4_ant          CH4            0    -1  -1   2   kg/m2/s
ACROLEIN_ant     ACROLEIN       0    -1  -1   2   kg/m2/s
BUTADIENE13_ant  BUTADIENE13    0    -1  -1   2   kg/m2/s
ETHY_ant         ETHY           0    -1  -1   2   kg/m2/s
TERP_ant         TERP           0    -1  -1   2   kg/m2/s
FORM_ant         FORM           0    -1  -1   2   kg/m2/s
PAR_ant          PAR            0    -1  -1   2   kg/m2/s
IOLE_ant         IOLE           0    -1  -1   2   kg/m2/s
OLE_ant          OLE            0    -1  -1   2   kg/m2/s
ETH_ant          ETH            0    -1  -1   2   kg/m2/s
ETHA_ant         ETHA           0    -1  -1   2   kg/m2/s
ETOH_ant         ETOH           0    -1  -1   2   kg/m2/s
MEOH_ant         MEOH           0    -1  -1   2   kg/m2/s
BENZ_ant         BENZ           0    -1  -1   2   kg/m2/s
TOL_ant          TOL            0    -1  -1   2   kg/m2/s
XYLMN_ant        XYLMN          0    -1  -1   2   kg/m2/s
NAPH_ant         NAPH           0    -1  -1   2   kg/m2/s
ALD2_ant         ALD2           0    -1  -1   2   kg/m2/s
ALDX_ant         ALDX           0    -1  -1   2   kg/m2/s
ISOP_ant         ISOP           0    -1  -1   2   kg/m2/s
PRPA_ant         PRPA           0    -1  -1   2   kg/m2/s
ACET_ant         ACET           0    -1  -1   2   kg/m2/s
KET_ant          KET            0    -1  -1   2   kg/m2/s
ALD2_PRIMARY_ant ALD2_PRIMARY   0    -1  -1   2   kg/m2/s
FORM_PRIMARY_ant FORM_PRIMARY   0    -1  -1   2   kg/m2/s
SOAALK_ant       SOAALK         0    -1  -1   2   kg/m2/s
VOC_INV_ant      VOC_INV        0    -1  -1   2   kg/m2/s
POC_ant          POC            0    -1  -1   2   kg/m2/s
PEC_ant          PEC            0    -1  -1   2   kg/m2/s
PAL_ant          PAL            0    -1  -1   2   kg/m2/s
PCA_ant          PCA            0    -1  -1   2   kg/m2/s
PCL_ant          PCL            0    -1  -1   2   kg/m2/s
PFE_ant          PFE            0    -1  -1   2   kg/m2/s
PH2O_ant         PH2O           0    -1  -1   2   kg/m2/s
PK_ant           PK             0    -1  -1   2   kg/m2/s
PMG_ant          PMG            0    -1  -1   2   kg/m2/s
PMN_ant          PMN            0    -1  -1   2   kg/m2/s
PMOTHR_ant       PMOTHR         0    -1  -1   2   kg/m2/s
PNA_ant          PNA            0    -1  -1   2   kg/m2/s
PNCOM_ant        PNCOM          0    -1  -1   2   kg/m2/s
PNH4_ant         PNH4           0    -1  -1   2   kg/m2/s
PNO3_ant         PNO3           0    -1  -1   2   kg/m2/s
PTI_ant          PTI            0    -1  -1   2   kg/m2/s
PSI_ant          PSI            0    -1  -1   2   kg/m2/s
PMC_ant          PMC            0    -1  -1   2   kg/m2/s
PSO4_ant         PSO4           0    -1  -1   2   kg/m2/s
UNR_ant          UNR            0    -1  -1   2   kg/m2/s
UNK_ant          UNK            0    -1  -1   2   kg/m2/s
CH4_INV_ant      CH4_INV        0    -1  -1   2   kg/m2/s
CO2_INV_ant      CO2_INV        0    -1  -1   2   kg/m2/s
SOILNOX_NO       NOT            0     2  -1   2   kg/m2/s
ISOP_bio         ISOP         108    -1  -1   2   kg/m2/s ISOP_emission_flux_from_biogenic_sources
ACET_bio         ACET         108    -1  -1   2   kg/m2/s ACET_emission_flux_from_biogenic_sources
ALD2_bio         ALD2         108    -1  -1   2   kg/m2/s ALD2_emission_flux_from_biogenic_sources
OLE_bio          PRPE         108    -1  -1   2   kg/m2/s OLE_emission_flux_from_biogenic_sources
ETH_bio          C2H4         108    -1  -1   2   kg/m2/s ETH_emission_flux_from_biogenic_sources
ETOH_bio         EOH          108    -1  -1   2   kg/m2/s ETOH_emission_flux_from_biogenic_sources
MEOH_bio         MOH          108    -1  -1   2   kg/m2/s MEOH_emission_flux_from_biogenic_sources
MTPA_bio         MTPA         108    -1  -1   2   kg/m2/s TERP_emission_flux_from_biogenic_sources
MTPO_bio         MTPO         108    -1  -1   2   kg/m2/s TERP_emission_flux_from_biogenic_sources
LIMO_bio         LIMO         108    -1  -1   2   kg/m2/s TERP_emission_flux_from_biogenic_sources
SESQ_bio         SESQ         108    -1  -1   2   kg/m2/s SESQ_emission_flux_from_biogenic_sources
NO_MetEmis               NO             115   -1  -1   2   kg/m2/s NO_emission_flux_from_MetEmis
NO2_MetEmis              NO2            115   -1  -1   2   kg/m2/s NO2_emission_flux_from_MetEmis
HONO_MetEmis             HONO           115   -1  -1   2   kg/m2/s HONO_emission_flux_from_MetEmis
CO_MetEmis               CO             115   -1  -1   2   kg/m2/s CO_emission_flux_from_MetEmis
SO2_MetEmis              SO2            115   -1  -1   2   kg/m2/s SO2_emission_flux_from_MetEmis
NH3_MetEmis              NH3            115   -1  -1   2   kg/m2/s NH3_emission_flux_from_MetEmis
CH4_MetEmis              CH4            115   -1  -1   2   kg/m2/s CH4_emission_flux_from_MetEmis
ACROLEIN_MetEmis         ACROLEIN       115   -1  -1   2   kg/m2/s ACROLEIN_emission_flux_from_MetEmis
BUTADIENE13_MetEmis      BUTADIENE13    115   -1  -1   2   kg/m2/s BUTADIENE13_emission_flux_from_MetEmis
ETHY_MetEmis             ETHY           115   -1  -1   2   kg/m2/s ETHY_emission_flux_from_MetEmis
TERP_MetEmis             TERP           115   -1  -1   2   kg/m2/s TERP_emission_flux_from_MetEmis
FORM_MetEmis             FORM           115   -1  -1   2   kg/m2/s FORM_emission_flux_from_MetEmis
PAR_MetEmis              PAR            115   -1  -1   2   kg/m2/s PAR_emission_flux_from_MetEmis
IOLE_MetEmis             IOLE           115   -1  -1   2   kg/m2/s IOLE_emission_flux_from_MetEmis
OLE_MetEmis              OLE            115   -1  -1   2   kg/m2/s OLE_emission_flux_from_MetEmis
ETH_MetEmis              ETH            115   -1  -1   2   kg/m2/s ETH_emission_flux_from_MetEmis
ETHA_MetEmis             ETHA           115   -1  -1   2   kg/m2/s ETHA_emission_flux_from_MetEmis
ETOH_MetEmis             ETOH           115   -1  -1   2   kg/m2/s ETOH_emission_flux_from_MetEmis
MEOH_MetEmis             MEOH           115   -1  -1   2   kg/m2/s MEOH_emission_flux_from_MetEmis
BENZ_MetEmis             BENZ           115   -1  -1   2   kg/m2/s BENZ_emission_flux_from_MetEmis
TOL_MetEmis              TOL            115   -1  -1   2   kg/m2/s TOL_emission_flux_from_MetEmis
XYLMN_MetEmis            XYLMN          115   -1  -1   2   kg/m2/s XYLMN_emission_flux_from_MetEmis
NAPH_MetEmis             NAPH           115   -1  -1   2   kg/m2/s NAPH_emission_flux_from_MetEmis
ALD2_MetEmis             ALD2           115   -1  -1   2   kg/m2/s ALD2_emission_flux_from_MetEmis
ALDX_MetEmis             ALDX           115   -1  -1   2   kg/m2/s ALDX_emission_flux_from_MetEmis
ISOP_MetEmis             ISOP           115   -1  -1   2   kg/m2/s ISOP_emission_flux_from_MetEmis
PRPA_MetEmis             PRPA           115   -1  -1   2   kg/m2/s PRPA_emission_flux_from_MetEmis
ACET_MetEmis             ACET           115   -1  -1   2   kg/m2/s ACET_emission_flux_from_MetEmis
KET_MetEmis              KET            115   -1  -1   2   kg/m2/s KET_emission_flux_from_MetEmis
ALD2_PRIMARY_MetEmis     ALD2_PRIMARY   115   -1  -1   2   kg/m2/s ALD2_PRIMARY_emission_flux_from_MetEmis
FORM_PRIMARY_MetEmis     FORM_PRIMARY   115   -1  -1   2   kg/m2/s FORM_PRIMARY_emission_flux_from_MetEmis
SOAALK_MetEmis           SOAALK         115   -1  -1   2   kg/m2/s SOAALK_emission_flux_from_MetEmis
PEC_MetEmis              PEC            115   -1  -1   2   kg/m2/s PEC_emission_flux_from_MetEmis
POC_MetEmis              POC            115   -1  -1   2   kg/m2/s POC_emission_flux_from_MetEmis
PAL_MetEmis              PAL            115   -1  -1   2   kg/m2/s PAL_emission_flux_from_MetEmis
PCA_MetEmis              PCA            115   -1  -1   2   kg/m2/s PCA_emission_flux_from_MetEmis
PCL_MetEmis              PCL            115   -1  -1   2   kg/m2/s PCL_emission_flux_from_MetEmis
PFE_MetEmis              PFE            115   -1  -1   2   kg/m2/s PFE_emission_flux_from_MetEmis
PH2O_MetEmis             PH2O           115   -1  -1   2   kg/m2/s PH2O_emission_flux_from_MetEmis
PK_MetEmis               PK             115   -1  -1   2   kg/m2/s PK_emission_flux_from_MetEmis
PMG_MetEmis              PMG            115   -1  -1   2   kg/m2/s PMG_emission_flux_from_MetEmis
PMN_MetEmis              PMN            115   -1  -1   2   kg/m2/s PMN_emission_flux_from_MetEmis
PMOTHR_MetEmis           PMOTHR         115   -1  -1   2   kg/m2/s PMOTHR_emission_flux_from_MetEmis
PNA_MetEmis              PNA            115   -1  -1   2   kg/m2/s PNA_emission_flux_from_MetEmis
PNCOM_MetEmis            PNCOM          115   -1  -1   2   kg/m2/s PNCOM_emission_flux_from_MetEmis
PNH4_MetEmis             PNH4           115   -1  -1   2   kg/m2/s PNH4_emission_flux_from_MetEmis
PNO3_MetEmis             PNO3           115   -1  -1   2   kg/m2/s PNO3_emission_flux_from_MetEmis
PTI_MetEmis              PTI            115   -1  -1   2   kg/m2/s PTI_emission_flux_from_MetEmis
PSI_MetEmis              PSI            115   -1  -1   2   kg/m2/s PSI_emission_flux_from_MetEmis
PMC_MetEmis              PMC            115   -1  -1   2   kg/m2/s PMC_emission_flux_from_MetEmis
PSO4_MetEmis             PSO4           115   -1  -1   2   kg/m2/s PSO4_emission_flux_from_MetEmis
