# This file defines the diagnostics to be written
# out by the HEMCO standalone model
#
# Name      Spec    ExtNr Cat Hier Dim Unit
PM10_ant    PM10    -1    -1  -1   2   kg/m2/s
PM25_ant    PM25    -1    -1  -1   2   kg/m2/s
